@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Code';
    src: url('fonts/MPLUSCodeLatin-Regular.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'CodeSemiBold';
    src: url('fonts/MPLUSCodeLatin-SemiBold.ttf');
    font-weight: bold;
}
